<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.mapper.CsSessionMapper">
    
    <select id="selectByUserId" resultType="com.shopping.entity.CsSession">
        SELECT * FROM t_cs_session 
        WHERE user_id = #{userId}
        ORDER BY start_time DESC
    </select>
    
    <select id="selectUnfinishedByUserId" resultType="com.shopping.entity.CsSession">
        SELECT * FROM t_cs_session 
        WHERE user_id = #{userId}
        AND status IN (0, 1)
        ORDER BY start_time DESC
        LIMIT 1
    </select>
    
</mapper>
